* {
  box-sizing: border-box;
}
html {
  background-color: #fefefe;
  color: #45484f;
  font-family: Josefin Sans, sans-serif;
  font-size: 4vw;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 3.8rem 0 0;
}
a {
  color: #45484f;
  text-decoration: none;
}
button,
input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: Josefin Sans, sans-serif;
}
input[type="submit"] {
  cursor: pointer;
}
button {
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.02em;
}
h3 {
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3,
h4 {
  line-height: 1.6em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  margin-bottom: 0.2625rem;
  color: rgba(69, 72, 79, 0.5);
  line-height: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  margin: 0;
}
img {
  display: block;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4.41rem 2.1rem;
}
section p {
  line-height: 1.8em;
}
figure {
  margin: 0;
}
figure img {
  width: 100%;
  max-width: 34rem;
  margin: 0 auto;
  border-radius: 4px;
}
figcaption {
  margin-top: 1.05rem;
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.medium-zoom-image--open,
.medium-zoom-overlay {
  z-index: 1000;
}
.noscroll {
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.m-0 {
  margin: 0;
}
.small-break {
  display: none;
}
.inline-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.94rem;
}
.inline-buttons .button {
  width: 100%;
  margin: 1em 0 0;
  text-align: center;
}
.inline-buttons .button:first-of-type {
  margin-top: 0;
}
.intro-text {
  font-size: 1.2em;
}
.paragraph-text {
  max-width: 34rem;
  margin: 2.1rem auto 0;
  color: rgba(69, 72, 79, 0.95);
  font-size: 1.1em;
}
.google-form iframe {
  width: 100%;
  height: 1000px;
}
.button {
  display: inline-block;
  padding: 0.2em 2.2em 0;
  border-radius: 4px;
  background-color: #45484f;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  color: #fefefe;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 3.3rem;
}
.button:hover {
  background-color: #393c41;
}
.button.button-secondary {
  background-color: #fefefe;
  color: #45484f;
}
.button.button-secondary:hover {
  background-color: #f9f9f9;
}
.button.button-accent {
  background-color: #7ec6ef;
  color: #fefefe;
}
.button.button-accent:hover {
  background-color: #68bcec;
}
.button.button-small {
  font-size: 1em;
}
.button svg {
  position: relative;
  top: 0.2em;
}
.text-input {
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #efefef;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-size: 1.2em;
  line-height: 3.6rem;
}
.text-input:hover {
  background-color: #f4f4f4;
}
.text-input:focus,
footer {
  background-color: #f9f9f9;
}
footer {
  line-height: 2em;
}
.footer__links {
  padding-bottom: 0;
}
.footer__links div {
  margin-bottom: 2.1rem;
}
.footer__links div:last-of-type {
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.footer__links div:last-of-type a {
  opacity: 1;
}
.footer__links div:last-of-type a:first-of-type {
  margin-right: 1.05rem;
}
.footer__links a {
  display: block;
  color: inherit;
  opacity: 0.6;
}
.footer__links a:first-of-type {
  opacity: 1;
}
.footer__links a:hover {
  text-decoration: underline;
}
.footer__end {
  padding-top: 0;
  padding-bottom: 2.94rem;
}
.footer__end-top {
  opacity: 0.6;
}
.footer__end-middle {
  opacity: 0.4;
}
.footer__end-bottom {
  opacity: 0.2;
}
.footer__logos {
  padding-top: 0;
}
.footer__logos img {
  height: 4rem;
}
h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.05rem 1.995rem;
  background-color: #fefefe;
  z-index: 750;
}
h1 a {
  display: block;
  width: auto;
  text-transform: uppercase;
}
h1 img {
  height: 1.7rem;
}
.nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.05rem 2.1rem;
  z-index: 1000;
}
.nav-toggle img {
  height: 1.7rem;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #393c41;
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  z-index: 999;
  text-align: center;
}
nav.active {
  visibility: visible;
  opacity: 1;
}
nav > ul {
  position: relative;
  padding: 2.1rem 1.05rem;
  z-index: 1000;
}
nav > ul > li {
  width: 100%;
  padding: 20px 0;
}
nav > ul > li:nth-of-type(3) {
  display: block;
}
nav li > ul {
  opacity: 0.6;
}
nav li,
nav li > ul {
  display: inline-block;
}
nav li.active > a span {
  border-color: #fefefe;
}
nav a {
  display: block;
  padding: 0.75em 0.4em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #fefefe;
  font-size: 1.1em;
  white-space: nowrap;
}
nav a:hover {
  color: #95d0f2;
}
nav a span {
  padding: 5px 0;
  border-bottom: 2px solid transparent;
}
.hero {
  position: relative;
  width: 100%;
  background-color: #45484f;
  overflow: hidden;
}
.hero-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-bg-wrapper div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}
.hero-content-wrapper {
  position: relative;
  z-index: 4;
}
.hero-content-wrapper p {
  color: #fefefe;
  font-family: Josefin Sans, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.4em;
}
.intro {
  background-color: #f9f9f9;
}
.intro p {
  max-width: 25em;
  margin: 0 auto 2.1rem;
}
.impact {
  background: url(img/mountain.jpg) no-repeat 50%;
  background-size: cover;
  background-color: #45484f;
  color: #fefefe;
}
.impact div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.impact a {
  display: block;
  margin-top: 2.94rem;
  color: inherit;
}
.impact a:nth-of-type(2n) {
  width: 43%;
}
.impact a:nth-of-type(odd) {
  width: 57%;
}
.impact svg {
  width: 3em;
  height: 3em;
}
.impact h3,
.impact h4 {
  color: inherit;
}
.impact h4 {
  margin: 0.525rem 0;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}
.impact a > span {
  display: block;
  line-height: 1.4em;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}
.stay-updated input {
  display: block;
  width: 100%;
}
.stay-updated form {
  margin-top: 2.1rem;
  max-width: 32rem;
  margin-right: auto;
  margin-left: auto;
}
.stay-updated ul {
  margin-top: 2.94rem;
}
.stay-updated li {
  margin: 2.1rem 0 0;
}
.stay-updated a:hover {
  text-decoration: underline;
}
.stay-updated svg {
  display: inline;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.525rem;
  vertical-align: text-bottom;
}
.stay-updated .text-input {
  text-align: center;
}
.stay-updated .button {
  margin-top: 1.05rem;
}
/*
.single-section {
  padding-top: 2.1rem;
}
.single-section h4 {
  margin-top: 2.94rem;
}*/
.paragraph-figure {
  margin: 2.94rem 0;
}
.what-we-do-links {
  max-width: 34rem;
  margin: 0 auto;
  padding-top: 2.94rem;
}
.what-we-do-links a {
  display: block;
  position: relative;
  width: 100%;
  height: 10rem;
  margin-top: 2.94rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-radius: 4px;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
}
.what-we-do-links a:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.what-we-do-links a:first-of-type {
  margin-top: 0;
}
.what-we-do-links a h4 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2.1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fefefe;
  line-height: 1.3em;
  text-align: center;
}
.our-approach {
  max-width: 34rem;
  margin: 2.1rem auto 0;
}
.our-approach__steps h5 {
  margin-top: 2.1rem;
}
.our-approach__steps h5:first-of-type {
  margin-top: 0;
}
.our-approach__step {
  display: -webkit-box;
  display: flex;
  margin-bottom: 2.1rem;
}
.our-approach__step:last-of-type {
  margin-bottom: 0;
}
.our-approach__step-num {
  position: relative;
  flex-shrink: 0;
  width: 1.5rem;
  margin-right: 1.05rem;
  font-size: 3rem;
  text-align: right;
}
.our-approach__image {
  width: 100%;
  height: 100vw;
  margin-top: 2.94rem;
  border-radius: 4px;
  background-size: cover;
  background-position: 50%;
}
.big-stat {
  margin-top: 4.41rem;
  text-align: center;
}
.big-stat h4 {
  margin-bottom: 0;
}
.big-stat span {
  display: block;
  color: #95d0f2;
  font-size: 4em;
  line-height: 1em;
}
.people {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 28rem;
  margin: 0 auto;
  text-align: center;
}
.people a {
  display: block;
  width: 14rem;
  margin: 2.1rem auto 1.05rem;
}
.people a:hover img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.people img {
  width: 100%;
  margin: 0 auto 1.05rem;
  border-radius: 50%;
  opacity: 0.9;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.people span {
  display: block;
  font-size: 0.8em;
  line-height: 1.6em;
}
.people .people__founder {
  margin: 1.05rem auto 0;
  padding-top: 0;
}
.link-list-list {
  margin: 2.1rem auto -1.05rem;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.link-list-list li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid-column;
  white-space: nowrap;
}
.link-list-list-wide {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
.link-list-simple li:last-of-type,
.link-list-single li:last-of-type,
.link-list li:last-of-type {
  margin-bottom: 1.05rem;
}
.link-list-simple a,
.link-list-single a,
.link-list a {
  display: block;
  font-size: 0.8em;
  line-height: 2em;
}
.link-list-simple a:hover,
.link-list-single a:hover,
.link-list a:hover {
  text-decoration: underline;
}
.link-list-simple svg,
.link-list-single svg,
.link-list svg {
  position: relative;
  top: -0.15em;
  width: 0.7em;
  vertical-align: middle;
}
.link-list-simple {
  max-width: 28rem;
  margin: 2.1rem auto 0;
  font-size: 1.2em;
}
.link-list-simple li:last-of-type {
  margin-bottom: 0;
}
.issuuembed-container {
  position: relative;
  width: 100%;
  height: 60vw;
  margin-top: 2.1rem;
  background-color: #f4f4f4;
  overflow: hidden;
}
.issuuembed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -30px;
}
.donate-buttons,
.press-hero > div > div {
  margin-top: 2.1rem;
}
.donate-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}
.donate-buttons form {
  width: 100%;
  margin: 1em 0 0;
  text-align: center;
}
.donate-buttons form:first-of-type {
  margin-top: 0;
}
.donate-buttons input {
  width: 100%;
}
.downloads h5 {
  margin-top: 2.1rem;
}
.downloads .link-list-simple {
  max-width: 1200px;
  margin-top: 0;
}
.gallery {
  display: -webkit-box;
  display: flex;
  margin-top: 4.41rem;
}
.gallery img {
  width: 100%;
  margin-bottom: 2.1rem;
  border-radius: 4px;
}
.gallery img:last-of-type {
  margin-bottom: 0;
}
.gallery__column {
  width: 50%;
  margin-right: 2.1rem;
}
.gallery__column:last-of-type {
  margin-right: 0;
}
@media (min-width: 500px) {
  html {
    font-size: 2.4vw;
  }
  h3,
  h4 {
    text-align: center;
  }
  .small-break {
    display: block;
  }
  .inline-buttons .button {
    width: auto;
    margin: 0 0.5em;
  }
  .footer__links {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__links div:last-of-type {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .footer__end {
    text-align: center;
  }
  .footer__logos {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  h1 img {
    margin: 0 auto;
  }
  nav {
    text-align: left;
  }
  .hero {
    text-align: center;
  }
  .hero .button {
    margin: 0 1.05rem;
  }
  .hero-content-wrapper p {
    font-size: 2em;
    line-height: 1.5em;
  }
  .impact,
  .intro {
    text-align: center;
  }
  .impact a:nth-of-type(2n),
  .impact a:nth-of-type(odd) {
    width: 50%;
  }
  .impact a > span {
    font-size: 1.1rem;
  }
  .stay-updated {
    text-align: center;
  }
  .stay-updated form,
  .stay-updated ul {
    display: -webkit-box;
    display: flex;
  }
  .stay-updated ul {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .stay-updated li {
    margin: 0 1.05rem;
  }
  .stay-updated .text-input {
    border-right: none;
    border-radius: 4px 0 0 4px;
  }
  .stay-updated .button {
    width: auto;
    margin: 0;
    border-radius: 0 4px 4px 0;
  }
  .people a {
    width: 11.5rem;
    margin: 0;
    padding: 2.94rem 0 0;
  }
  .people .people__dangling {
    width: 100%;
  }
  .people .people__dangling img {
    width: 11.5rem;
  }
  .link-list-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2.94rem;
    -moz-column-gap: 2.94rem;
    column-gap: 2.94rem;
    max-width: 28rem;
  }
  .link-list-list-wide {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .link-list-simple {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .donate-buttons form {
    width: auto;
    margin: 0 0.5em;
  }
  .downloads {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 1.55vw;
  }
  body {
    padding: 0;
  }
  section {
    padding: 6.615rem;
  }
  .noscroll {
    overflow: auto;
  }
  .intro-text {
    font-size: 1.5em;
    text-align: center;
  }
  .footer__links {
    padding-bottom: 2.94rem;
  }
  .footer__links div:last-of-type {
    display: block;
    width: auto;
  }
  .footer__links div {
    margin-bottom: 0;
  }
  header {
    padding-top: 1.05rem;
  }
  h1 {
    position: relative;
    padding: 1.05rem 0 0;
    background-color: inherit;
    text-align: center;
  }
  h1 img {
    height: 2.4rem;
  }
  .nav-toggle {
    display: none;
  }
  nav {
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    width: auto;
    height: auto;
    margin-bottom: 1.05rem;
    background-color: #fefefe;
    -webkit-transition: none;
    transition: none;
    visibility: visible;
    opacity: 1;
    overflow: visible;
  }
  nav ul {
    -webkit-transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: visibility 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
    transition: visibility 0.3s, opacity 0.3s, transform 0.3s,
      -webkit-transform 0.3s;
  }
  nav > ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0;
  }
  nav > ul > li {
    width: auto;
    padding: 0;
  }
  nav li > ul {
    display: block;
    position: absolute;
    margin-top: -0.5em;
    margin-left: -0.25em;
    padding: 0 0.25em;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 15px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
  }
  nav li > ul a {
    padding: 0.75em 1.5em;
  }
  nav li > ul li:first-of-type a {
    padding-top: 1.25em;
  }
  nav li > ul li:last-of-type a {
    padding-bottom: 1.25em;
  }
  nav li {
    display: block;
    position: relative;
  }
  nav li.active-child > a span,
  nav li.active > a span {
    border-color: #95d0f2;
    color: #95d0f2;
  }
  nav.hover li:hover ul {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  nav a {
    padding: 1.5em;
    color: #45484f;
  }
  .hero-bg-wrapper div {
    background-position: 50%;
  }
  .hero-content-wrapper p {
    font-size: 2.8em;
  }
  .impact div {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .impact a:nth-of-type(2n),
  .impact a:nth-of-type(odd) {
    width: auto;
  }
  .impact h4 {
    font-size: 2rem;
  }
  .single-section {
    padding-top: 2.94rem;
  }
  .single-section h4 {
    margin-top: 4.41rem;
  }
  .our-approach {
    display: -webkit-box;
    display: flex;
    max-width: 100%;
  }
  .our-approach__steps {
    -webkit-box-ordinal-group: 3;
    order: 2;
    width: 51%;
    margin-left: 2.94rem;
  }
  .our-approach__step-num {
    width: 2rem;
    text-align: center;
  }
  .our-approach__image {
    width: 49%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0.2625rem;
  }
  .big-stat {
    margin-top: 6.615rem;
  }
  .link-list-list {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    max-width: 100%;
  }
  .link-list-list-wide {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .issuuembed-container {
    height: 50vw;
  }
  .press-hero {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .press-hero > div {
    width: calc(50% - 1.05rem);
  }
  .gallery {
    margin-top: 6.615rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
  .hero {
    border-radius: 4px 4px 0 0;
  }
  .hero-content-wrapper p {
    font-size: 3em;
  }
  .impact {
    border-radius: 0 0 4px 4px;
  }
  .issuuembed-container {
    height: 600px;
  }
}
